body 
{
	margin:0;
	padding:0;
}

#page
{
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
}

#topbar
{
	font-family: verdana, helvetica, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	border-bottom: 1px solid #111;
	background: #000;
	height: 32px;
	color: #fff;
	overflow: hidden;
}

#topbar .border
{
	height: 7px;
	background: #333;
}

#topbar .menubar
{
	padding: 5px 0 6px 0;
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	overflow: hidden;
}

#topbar td 
{
	background: #000;
	color: #fff;
	padding: 0;
	font-size: 11px;
}

#topbar .menubar a.item
{
	padding: 0 8px 0 8px;
	color: #fff;
	text-decoration: none;
	font-size: 9px;
}

#topbar .menubar a.item:hover
{
	text-decoration: underline;
}

#topbar .accounttext
{
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
	padding-right: 5px;
}

#header .menubar
{
	text-transform: uppercase;
	font-family: helvetica;
	font-size: 11px;
	text-align: center;
	width: 920px;
	margin: 0 0 13px 0;
	padding: 0;
}

#header .menubar a
{
	color: #333;
	text-decoration: none;
}

#header .menubar a.selected
{
}

#header .menubar td
{
	/*padding: 12px 8px 12px 8px;*/
	overflow: hidden;
	border-bottom: 2px solid #cb232a;
}

#header .menubar td.selected
{
	background: #333;
	border-right: 1px solid #cb232a;
	border-left: 2px solid #cb232a;
	color: #fff;
	text-decoration: none;
}

#header .menubar td:hover
{
	background: #333;
	color: #fff;
}

#header .branding
{
	width: 1%;
}

#header .search
{
	color: #cb232a;
	font-family: verdana;
	text-transform: uppercase;
	font-size: 11px;
	text-align: left;
	padding-top: 5px;
}

#header ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#header li
{
	display: inline;
}

.textfld
{
	width: 380px;
	border: 1px solid #333;
	color: #777;
	height: 30px;
	line-height: 24px;
	padding-left: 27px;
	font-size: 18px;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-image: url('http://spie.org/images/wt_o/magnifying_glass.png');
	margin-bottom: 5px;
}

.searchpos
{
	float: right;
	padding: 0px 15px;
	display: inline;
	overflow: hidden;
	position: absolute;
	top: 50px;
	margin:70px 0 0 10px;
}

#promotionarea
{
	margin-bottom: 17px;
	margin-top: 23px;
}

#tabarea
{
	width: 691px;
}

#tabarea .body
{
	font-family: Arial, Helvetica;
	border: 1px solid #d9d9da;
	border-top: 0;
	background-image: url('http://spie.org/images/global/tabarea_grad_bg.jpg');
	background-repeat: repeat-x;
	color: #666666;
	padding: 15px 0 15px 0;
	background-color: #f3f2f2;
	min-height: 202px;
}

#tabarea td
{
	width: 33%;
	padding: 0 15px 0 15px;
	border-left: 1px solid #ddd;
}

#tabarea .title
{
	font-family: Arial, Helvetica;
	font-size: 13px;
	font-weight: bold;
}

#tabarea .desc
{
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #999;
}

#tabarea ul
{
	font-family: verdana, Helvetica;
	font-size: 11px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	padding-right: 10px;
}

#tabarea li
{
	
	padding-top: 10px;
	background-repeat: no-repeat;
	background-position: 0px 10px;
	padding-left: 16px;
	width: 96%;
	overflow: hidden;
}

#tabarea .tabs
{
	height: 20px;
	padding-top: 7px;
}

#tabarea a
{
	color: #676a6e;
	text-decoration: none;
}

#tabarea a.tab
{
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #545454;
	text-decoration: none;
	cursor: pointer;
}

#tabarea a.tabselected
{
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #545454;
	text-decoration: underline;
	cursor: pointer;
}

#tabarea a:hover
{
	text-decoration: underline;
}

#ataglance .header
{
	background-image: url('http://spie.org/images/global/ataglance_tabs.jpg');
	background-repeat: no-repeat;
	height: 28px;
}

#memberarea
{
	display: none;
}

#memberarea .header
{
	background-image: url('http://spie.org/images/global/memberarea_tabs.jpg');
	background-repeat: no-repeat;
	height: 28px;
}

#freeaccess
{
	display: none;
}

#freeaccess .header
{
	background-image: url('http://spie.org/images/global/freeaccess_tabs.jpg');
	background-repeat: no-repeat;
	height: 28px;
}

#searchdl
{
	width: 221px;
	height: 259px;
	background-repeat: no-repeat;
}

#searchdl .header
{
	font-family: Times;
	font-size: 22px; 
	color: #c64200;
	position: relative;
	left: 10px;
	top: 108px;
}

#searchdl .desc
{
	font-family: Arial;
	font-size: 11px; 
	color: #c64200;
	position: relative;
	left: 10px;
	margin-right: 10px;
	line-height: 13px;
	top: 106px;
}

#pagefooter
{
	width: 100%; 
	font-family: helvetica,arial,san-serif;
	font-size: 11px; 
	border-top: 8px solid #000;
	margin-top: 14px; 
	padding: 8px 0 8px 0; 
	color: #000;
	text-align: center;
}

#pagefooter a
{
	color: #000; /*Previous value #c4c5c6*/
	text-decoration: none;
}

#pagefooter a:hover
{
	text-decoration: underline;
}

#pagefooter .copyright {
	float:left;
}

#pagefooter .links {
	float:right;
}

#pagefooter ul {
	clear:both;
	list-style:none;
	text-align:right;
	padding-top:7px;
}

#pagefooter li {
	float:right;
	margin-left:10px;
}

a img {
border:none;
}

a img:hover {
background:none;
}

/* subnav */
#nav .navtext h3 {
font-family:arial, san-serif;
font-size:10px;
font-weight:bold;
color:#ffffff
}

/*layout */

/*
#wrapper {
width:920px;
margin:20px auto 0 auto;
border:1px solid #ccc;}
 */
 
#nav {
width:920px;
	text-align: left;
	border-bottom:8px solid #000;
	height:38px;
}

#nav ul {
	list-style:none;
	margin: 0;
	padding: 0;
	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
}

#nav li {
	color:#666;
	float:left;
	padding-top: 14px;
	padding-bottom: 12px;
	cursor:pointer;
	background-color: rgb(255, 255, 255);
	color: rgb(102, 102, 102);
	background-position: initial initial;
	background-repeat: initial initial;
}

#nav li.selected
{
	background-color:#000;
	color:#fff;
}

.navtext
{
	min-width:150px;
	font-size:10pt;
	font-family:verdana;
	border-width:0px;
	color:white;
}

#navtable td
{
	width: 175px;
}

#nav .navtext ul {
	margin:0;
	text-transform:none;
}

#navtable {
	background:none;
	padding:7px 7px 7px 12px;
	background-image: url('http://spie.org/images/global/menubg.png');
}

#navtable li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:none;
	text-align:left;
	margin:0 12px 3px 12px;
	padding:3px;
	color:#fff;
	background:none;
}

#navtable li:hover {
	color:#000;
	background:#fff;
}

#navtable li.header {
	margin-top:9px;
	font-weight:bold;
	color:#aaa;
	border-bottom:2px solid #fff;
}

#navtable li.header:hover {
	color:#aaa;
	background:#000;
}

#navtable li.headerlink {
	margin-top:10px;
	font-weight:bold;
	color:#fff;
	border-bottom:2px solid #fff;
}

#navtable li.headerlink:hover {
	color:#000;
	background:#fff;
}

#navtable li.boldlink {
	font-weight:bold;
	color:#fff;
	margin-top:13px;
}

#navtable li.boldlink:hover {
	color:#000;
	background:#fff;
}

#navtable td {
	padding-bottom:10px;
}

#navtable .label {
	padding-bottom:10px;
}

#nav .navtext a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	margin:3px;
}

/* drop down nav */
#nav .navtext {
	margin-top:16px;
z-index: 9999;
}

#menudiv {
	position: absolute;
	visibility:hidden;
}

#nav .home 
{
	width: 58px;
}

#nav .conferences 
{
	width: 188px;
}

#nav .pubs 
{
	width: 108px;
}

#nav .education
{
	width: 88px;
}

#nav .member 
{
	width: 98px;
}

#nav .industry
{
	width: 154px;
}

#nav .careercenter 
{
	width: 118px;
}

#nav .newsroom 
{
	width: 108px;
}

.navsectheader
{
	margin-left: 0; font-weight: bold;
}

#sectionmenu
{
	width:  225px;
	height: 25px;
	border: 1px solid #999;
	color: #777;
	text-transform: none;
	font-size: 11px;
}

#contenttable {
	margin-left: auto;
	margin-right: auto;
}

/* Topics additions */
#topicsarea
{
	font-family: Arial, Helvetica;
	border-bottom: 1px solid #d9d9da;
	background-image: url('http://spie.org/images/global/topicsarea_grad_bg.jpg');
	background-size: 100% 100%;
	background-repeat: repeat-x;
	color: #666666;
	padding: 0 0 15px 0;
	margin-top: 10px;
	margin-bottom: 20px;
}

#topicsarea td
{
	font-family: Arial, Helvetica;
	color: #666666;
	font-size: 11px;
	width: 20%;
	vertical-align: top;
}

#topicsarea td.topictitle
{
	font-weight: bold;
	vertical-align: bottom;
}

#topicsarea ul
{
	font-family: verdana, Helvetica;
	font-size: 10px;
	padding: 4px 0 0 0;
	margin: 0;
	list-style-type: none;
	font-weight: normal;
}

#topicsarea li
{
	padding-bottom: 4px;
	line-height: 12px;
	width: 96%;
}

#topicsarea a
{
	color: #666666;
	text-decoration: none;
}

#topicsarea a:hover
{
	text-decoration: underline;
}

#topicsarea td.morelink
{
	padding-bottom: 12px;
	padding-top: 0;
	padding-right: 20px;
}

#topicsarea a.morelink
{
	float: right;
	padding-top: 0;
	font-size: 9px;
}

table.topicsgrid
{
	border-top: 1px solid #000;
}

td.topicsgrid
{
	font-family: Arial, Helvetica;
	color: #666666;
	padding: 7px;
	border-width: 0 1px 1px 0; 
	border-style: solid;
	border-color: #000;
	font-size: 11px;
	text-align: center;
	width: 20%;
	font-weight: bold;
}

a.topicsgrid
{
	text-decoration: none;
	color: #069;
}

a.topicsgrid:hover
{
	text-decoration: underline;
}

td.selected
{
	background: #ddd;
}

a.selected
{
	color: #000;
}

.dlsearchfld {
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url('http://spie.org/images/wt_o/magnifying_glass.png');
	width: 176px;
	border: 1px solid #999;
	color: #777;
	height: 21px;
	padding-left: 18px;
}

a.searchbutton {
	background:#000;
	color:#fff;
	font-family: helvetica;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 13px;
	margin-left:7px;
	margin-bottom: 5px;
	font-size:12px;
}

a.searchbutton:hover {
	background:#636466;
	text-decoration:none;
}

a.searchbutton:visited {
	color:#fff;
}