/******   Optimize DL Subscriber Test Code   ******/
.prompt {
	margin-bottom:13px;
	padding:0 0 0 0;
	background:#EBEBEB;
	border:1px solid #dddacf;
	color:#000;
}
/****** End Optimize DL Subscriber Test Code ******/

/* element selectors ---------------------------------------------- */
body {
	margin: 0px 0px;
	font-family: Helvetica, arial,sans-serif;
	font-size: 13px;
	background-color: #fff;
	color: #000;
}



.sectionheaderspacing {
	padding-bottom: 2px;
} 

body#searchtips {
	background-color: #FFF;
}

img {
	border: 0px;
}

table {
	background-color: White;
}

p {
	margin-top: 0px;
}

th {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	padding-bottom: 8px;
	background-color: #CCCCCC;
}	

th.noBackground {
	background-color: White;
}

td {
	/*font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	color: #000;*/
}

.Symposia {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #000000;
	line-height: 40px;
	padding: 13px 0 8px 0;
}

h2.Symposia {
	font-size: 22px;
	font-weight: normal;
	color: #000000;
	padding: 13px 0 4px 0;
	line-height: 20px;
	text-transform: none;
}


a.journalslink {
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	padding-left: 13px;
	display: block;
	color:#000;
}

a.journalslink:visited {
	color:#000;
}

a.journalslink:hover {
	color: #ed1c24;
}




.journalsLinkGroupLabel {
	font-family: Helvetica,Arial,Sans-serif;
	color: #808285;
	font-size: 16pt;
	padding-left: 13px;
	line-height: 16pt;
}

h1, .head1 {
	font-family: Helvetica,Arial,Sans serif;
	font-weight: 700;
	font-size: 19px;
	line-height: 25px;
	letter-spacing: 0px;
	color: #000000;
	margin-top: 8px;
	margin-bottom: 8px;
}

#confdetail h1
{
	font-family: Helvetica,Arial,Sans serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
}

#confdetail h2
{
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	text-transform: none;
	padding: 13px 0 4px; 0;
	margin-bottom: 3px;
}

#confdetail h6
{
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 3px;
}

h1.title_AboutSPIE {
	color: #000000;
}
h1.title_ConferencesAndExhibitions {
	color: #000000;
}
h1.title_Courses {
	color: #000000;
}
h1.title_Membership {
	color: #000000;
}
h1.title_Newsroom {
	color: #000000;
}
h1.title_NewsroomGray {
	color: #666666;
}
h1.title_Publications {
	color: #000000;
}
h1.title_SPIEResources {
	color: #000000;
}
h1.title_Utilities {
	color: #000000;
}
h2 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 20%;
	text-transform: uppercase;
	color: #333;
	margin: 0 0 7px 0;
}

.LandingPageHeading {
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 20%;
	text-transform: uppercase;
	margin: 0 0 7px 0;
}

h2.subtitle_AboutSPIE {
	color: #92896A;
	margin: 0 0 7px 13px;
	text-transform: none;
}

h2.product_Optipedia {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}

h3 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0%;
	margin-bottom: 6px;
}

h3 a {
	color:#000;
}

h3 a:visited {
	color:#000;
}

h3 a:hover {
	color: #ed1c24;
	background:none;
}

h3.conferenceListing 
{
	font-size: 13px;
	color: #000000;
}


h4 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0%;
	color: #333;
}

h5 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0%;
	color: #000;
}

h5 a {
	color:#000;
	text-decoration:underline;
}

h5 a:visited {
	color:#000;
}

h5 a:hover {
	color: #ed1c24;
	background:none;
}

h6 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0%;
	color: #000;
	margin: 6px 0 6px 0;
}

h7 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 20%;
	text-transform: uppercase;
	color: #000;
}

/* THESE HEAD CLASSES FORMAT THE DHTML EDITOR CONTENT*/
.head4 {
	font-family: Helvetica, Arial, Sans serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0%;
	color: #333;
}

.head5 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	letter-spacing: 0%;
	color: #000;
}

.head6 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0%;
	color: #000;
	margin-bottom: 6px;
}



.head7 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 20%;
	text-transform: uppercase;
	color: #000;
}

/*END OF DHTML EDITOR HEADER CLASSES */


.head8 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0%;
	color: #666666;
}

.head9 {
	font-family: Helvetica, Arial, Sans serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0%;
	color: #900;
}

/*=========Newsroom Styles=======================*/
.mainheadline {
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	margin-left: 0px;
	color: #3166B4;	
}
.mainheadline H1 {
	margin-left: 0px;
}

.mainheadline p
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

.kicker {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.kicker p
{
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.subheadline
{
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
}
.subheadline p
{
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
}
.byline
{
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
}
.byline p
{
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
}
.abstract
{
	font-size: 13px;
	line-height: 15px;
	font-style: italic;
}

/*sup {
	line-height: 15px;
}
sub {
	line-height: 15px;
}*/
/*================End Newsroom Styles============================*/

/* All SPIE.org link styles */
a {
	font-family: Helvetica,Arial,Sans-serif;
	text-decoration: underline;
	color: #ed1c24;
}
a:visited {
	color: #a00b10;
}
a:hover {
	color: #000;
	text-decoration: underline;
}

/*
a.nounderline {
	font-family: Helvetica,Arial,Sans-serif;
	text-decoration: none;
	color: #000;
}
a.nounderline:visited {
	color: #000;
	text-decoration: none;
}
a.nounderline:hover {
	color: #b9282e;

}
*/

/*============= Webtrends Optimize Test Styles =============*/
#WTOMainBodyCopy a.wto_link {
	color: #007FCF;
	font-family: Helvetica,Arial,Sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	line-height: 24px;
}

#WTOMainBodyCopy a.wto_link:visited {
	color: #007FCF;
	text-decoration: none;
}

#WTOMainBodyCopy a.wto_link:hover {
	color: #385A88;
	text-decoration: underline;
}

/*============= End Optimize Test Styles =============*/

#programview a {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #069;
	line-height: 17px;
}
#programview a:visited {
	color: #069;
	text-decoration: none;
}
#programview a:hover {
	color: #069;
	text-decoration: underline;
}


.link1 a {
	font-size: 13px;
}


a.mailto {
	color: #01669A;
}

a.anchortext {
	text-decoration: none; font-weight: bold;
}

a.linksTop {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;	
	color: #003399;
	text-decoration: underline;
}
a.linksTop a:visited {
	color: #993399;
	text-decoration: underline;
}
a.linksTop a:hover {
	color: #CC0000;
	text-decoration: underline;
}

a.linksMiddle {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;	
	color: #003399;
	text-decoration: none; 
}
a.linksMiddle a:visited {
	color: #993399;
	text-decoration: underline;
}
a.linksMiddle a:hover {
	color: #CC0000;
	text-decoration: underline;
}

a.linksbottom {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	color: #003399;
	text-decoration: underline;
}
a.linksbottom a:visited {
	color: #993399;
	text-decoration: underline;
}
a.linksbottom a:hover {
	color: #CC0000;
	text-decoration: underline;
}

a.linksbottomhead {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	font-weight: bold;	
	color: #003399;
	text-decoration: none; 
}


.link1 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	text-decoration: underline;
}

a.link1AccountManager, a.link1AccountManager:visited {
	font-size: 13px;
}

.link2 a {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.link3 a {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.link4 a {
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	color:#000;
}

.link4 a:visited {
	color:#000;
}

.link4 a:hover {
	color:#ed1c24;
	background:none;
}

.link5 a {
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.link6 {
	padding-bottom: 7px;
}

.link6 a {
	font-size: 13px;
}

.link7 a {
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
}

.link8 a {
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
}

.link9 a, .link9 a:visited {
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
}

/**/
.LandingPageHeading a, .LandingPageHeading a:visited {
	color: #000;
}
.LandingPageHeading a:hover {
	color: #ed1c24;
	background:none;
}


.link10 a, .link10 a:visited {
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	text-decoration: underline;
}

a.link11 a {
    font-size: 13px;
}

a.link12 a {
    font-size: 13px;
    color:#000;
}

a.link12 a:visited {
    font-size: 13px;
    color:#a00b10;
}

a.link12 a:hover {
    font-size: 13px;
    color:#ed1c24;
    background:none;
}

a.link12 {
    font-size: 13px;
    color:#000;
}

a.link12:visited {
    font-size: 13px;
    color:#a00b10;
}

a.link12:hover {
    font-size: 13px;
    color:#ed1c24;
    background:none;
}

.link13 a {
	font-size: 13px;
	font-weight: bold;
	color:#000;
}

.link13 a:visited {
    font-size: 13px;
    color:#a00b10;
}

.link13 a:hover {
	color:#ed1c24;
	background:none;
}

.link14 {
	font-size: 13px;
	font-weight: bold;
	color:#000;
}

.link14 a {
	color:#000;
}

.link14 a:visited {
    font-size: 13px;
    color:#a00b10;
}

.link14 a:hover {
	color:#ed1c24;
	background:none;
}



.linkMediaKits a {
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #003399;
}
.linkMediaKits a:visited {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #993399;
}
.linkMediaKits a:hover {
	color: #CCFFFF;
	text-decoration: underline;
}

.link6MemberOnlyContentDisabled {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	text-decoration: none;
}
a.linkCartNumItems, a:visited.linkCartNumItems, a:hover.linkCartNumItems {
	color: #D5670E;	
}


/* All SPIE.org body styles */
.body1 {
	font-family: Georgia, "Times New Roman" , Times, serif;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 20%;
	color: #000;
}
.body2 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #000;
}

.body2_noULspace {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #000;
}

.body3 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #000;
}

.body5 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #000;
}

.body6 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}

.photoCredit {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 9px;
	line-height: 13px;
	letter-spacing: 0%;
	text-align: left;
	color: #000;
	
}

.photocredit {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 9px;
	line-height: 13px;
	letter-spacing: 0%;
	text-align: left;
	color: #000;
	
}

.body7 {
	font-family: Georgia, "Times New Roman" , Times, serif;
	font-size: 13px;
	line-height: 16px;
	color: #000;
}

.body8 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #000;
}

.body9 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #186F8D;
}

.imageCaption {
	font-size: 9px;
	color: #999;
}

.error {
	background-color: orange;
	padding: 4px;
	color: white;
	font-weight: bold;
	border: 1px solid black;
} 

.ndb {
	display:block;
	padding: 2px;
	margin-bottom: 2px;
	background-color: Black;
	font-weight: bold;
	color: white;
}
.ndb hr {
	margin:0px;
}
.memberOnlyContentDisclaimer {
	color: #3166B4;
}


/* These are styles to support formatting of the DHTML content ------- 

.bodyCopy a.link11 {
	color: #003399;
	text-decoration: underline;
}
.bodyCopy a.link11:visited {
	color: #993399;
	text-decoration: underline;
}
.bodyCopy a.link11:hover {
	color: #CC0000;
	text-decoration: underline;
}


.bodyCopy p a.link11 {
	color: #003399;
	text-decoration: underline;
}
.bodyCopy p a.link11:visited {
	color: #993399;
	text-decoration: underline;
}
.bodyCopy p a.link11:hover {
	color: #CC0000;
	text-decoration: underline;
}


.bodyCopy a.link12 {
	color: #003399;
	text-decoration: none;
}
.bodyCopy a.link12:visited {
	color: #993399;
	text-decoration: none;
}
.bodyCopy a.link12:hover {
	color: #CC0000;
	text-decoration: none;
}


.bodyCopy p a.link12 {
	color: #003399;
	text-decoration: none;
}
.bodyCopy p a.link12:visited {
	color: #993399;
	text-decoration: none;
}
.bodyCopy p a.link12:hover {
	color: #CC0000;
	text-decoration: none;
}
*/


.bodyCopy {
	margin: 8px 13px 18px 13px;
}

/*
.bodyCopy a:link sup {
	text-decoration: none;
	color: blue;
}
.bodyCopy a:hover sup {
	text-decoration: none;
	color: blue;
}
*/

.bodyCopy a.mailto {
	color: #01669A;
}
.bodyCopy a.mailto:visited {
	color: #01669A;
}
.bodyCopy a.mailto:hover {
	color: #01669A;
	text-decoration: none;
}

.bodyCopy p {
	font-family: Helvetica, Arial, Sans serif;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0px;
	text-align: left;
	color: #000;
	background-color: #FFFFFF;
	margin-bottom: 13px;
}


/* DHTML content for Newsroom Technical Articles */
/* Import Styles */
.break hr
{
	margin: 0 0 5px 0;
}
.sec_title
{
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	margin: 13px 0 5px 0;
}
.contrib-title
{
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}
.contrib-name
{
	font-weight: bold;
}
.contrib-address {
	margin-bottom: 13px;
}
.contrib-bio
{
	margin: 13px 0 13px 0;
}
.back-title
{
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	margin-bottom: 7px;
}
.paragraph
{
	margin-bottom: 13px;
	line-height: 16px;
}
.paragraph p
{
	margin: 0;
	line-height: 16px;
}
.ref
{
	font-size: 13px;
	line-height: 13px;
	padding-bottom: 7px;
	color: #000;
}
/*
.ref a
{
	font-size: 13px;
	line-height: 13px;
	color: #000;
}

a.ref-title {
	text-decoration: none;
}
a.ref-title:hover
{
	text-decoration: none;
	color: #000000;
}

a.ref-link
{
	text-decoration: underline;
}
*/

.ref.source
{
	font-style: italic;
	display: inline;
}
.fig_caption
{
	font-style: italic;
	margin-bottom: 15px;
	margin-top: 13px;
	line-height: 16px;
}
/* DHTML content for Newsroom Technical Articles  */

/* END of styles to support formatting of the DHTML content --------- */

/* Class selectors -------------------------------------------------- */
.bggray {
	background-color: #E6E6E6;
}

.aboutBar {
	width: 100%;
	height: 19px;
	background-color: #EBE9E1;
}

.pageBox {
	width: 920px;
	margin: auto;
}

.printFriendlyPageBox {
	width: 700px;
	margin-left: 0px;
	align: left;
}

.DatePadding {
	margin-top: 2px;
}

.textBlock {
	margin-bottom: 13px;
	color: #000;
}

.textBlock a,.itemDesc2 a {
	color: #000;
}	

.textBlock a:hover,.itemDesc2 a:hover {
	color: #ed1c24;
	background:none
}	

.textBlock a:visited,.itemDesc2 a:visited {
	color: #a00b10;
}

.subTextBlock {
	margin-bottom: 8px;
}

.subTextBlockNewsroom a, .subTextBlock a {
	color: #000;
	text-decoration:underline;
}

.subTextBlockNewsroom a:hover, .subTextBlock a:hover {
	color: #ed1c24;
	background:none;
	text-decoration:underline;
}
.subTextBlockNewsroom a:visited, .subTextBlock a:visited {
	color: #a00b10;
}

.subTextBlockNewsroom {
	margin-bottom: 2px;
}

/*
.subTextBlockNewsroom a {
	color: #000;
	text-decoration:underline;
}

.subTextBlockNewsroom a:hover {
	color: #ed1c24;
	background:none;
	text-decoration:underline;
}
*/

.lgTextBlock {	
	margin-bottom: 18px;
}
.smallTextBlock {
	margin-bottom: 4px;
	color:#000;
}
.fullCol {
	width: 696px;
	padding-bottom: 30px;
}
.fullCol h1 {
	margin: 4px 13px 8px 13px;
}
	
.centerCol {
	width: 472px;
	padding-bottom: 30px;
}

.centerColPrint {
	width: 696px;
	padding-bottom: 30px;
}

#RecentNews .centerCol, #RecentNews .centerColPrint, #TCFront .centerCol, #TCFront .centerColPrint, #NewsroomLandingPage .centerCol, #NewsroomLandingPage .centerColPrint {
	padding-bottom: 0px;
}

.centerColElement, .centerCol h1, .centerColPrint h1 { 
	margin: 8px 13px;
	vertical-align:top;
}

.textBlock, .body2_noULspace, ul {
	margin-top: 2px;
}	

.centerColBlock 
{
	margin: 8px 13px;
	vertical-align:top;
	padding-bottom: 25px;
}

.centerColElementTight { 
	margin: 2px 13px;
	vertical-align:top;
}

.centerCol table, .centerColPrint table {
	margin-bottom: 18px;
}

.rightCol {
	background-color: #fff;
	width: 220px;
	height: 100%;
	padding: 6px 0 0 6px;
	border-left:1px solid #aaa;
}

.rightColJournals {
	background-color: #fff;
	width: 220px;
	height: 100%;
}

.rightColCareerCenter {
	background-color: #FFFFFF;
	width: 220px;
	height: 100%;
	padding-top: 6px;
}

.rightColComponent {
	padding: 6px 13px;
}

/* C&E search right column components */
.ceSearch {
	background-color: #f2f2f2;
	border-bottom: 4px solid #fff;
	font-size:12px;
}

.rhcol_header {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 13px;
	letter-spacing: 20%;
}

.rightColHead1 {
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 20%;
	text-transform: uppercase;
	color: #333333;
}
.rightColHead2 {
	font-family: Georga, "Times New Roman", Serif;
	font-weight: bold;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 20%;
	text-transform: uppercase;
	color: #990000;
}

.rightColId {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 20%;
	color: #333;
}

.rightColLink1 {
	margin-bottom: 8px;
}

.rightColLink2 {
	margin-bottom: 2px;
}

.rightColLink3 {
	margin-bottom: 8px;
}


.rightColBody1 {
 	font-family: Helvetica,Arial,Sans-serif;
	font-size: 12px;
	color: #000;
	margin-bottom: 8px;

}
.rightColBody2 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 9px;
	line-height: 13px;
	color: #006699;

}
.rightColTableBody {
	background-color: #EBE9E1;
	padding-left: 5px;
	padding-top: 13px;
	padding-bottom: 16px;
}

.rightColTableHead {
	background-color: #7D7D53;
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 9px;
	color: #fff;
	font-weight: bold;
	line-height: 13px;
	padding-left: 6px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.rightColThumb {
	margin-right: 13px;
	margin-bottom: 2px;
}

.rightColTableTD1
{
	padding: 6px 6px 6px 13px;
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 9px;
	color: #666633;
	background-color: #EBE9E1;
	line-height: 13px;
}

.rightColTableTD2 {
	padding: 6px;
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 9px;
	color: #7D7D53;
	font-weight: bold;
	background-color: #EBE9E1;
	line-height: 13px;
}

.rightColVLine {
	border-right: 7px solid #EBE9E1;
	border-bottom: 1px solid #EBE9E1;
	background-image: url(http://spie.org/images/global/dotted_line_vert.gif);
	background-color: #EBE9E1;
	background-repeat: repeat-y;
}


/* Table of contents styles */

dt
{
	font-size: 13px;
	line-height: 14px;
	font-weight: bold;
	margin-top:3px;
	margin-bottom: 1px;
}
div.chapter {
	font-size: 9px;
	margin-bottom: 13px;
}
div.chapterHead {
	color: #333;
	font-weight: bold;
}
div.sectionHead {
	color: #666;
	font-weight: bold;
}


.mainContentImage {
	margin-bottom: 13px;
}

.printEmail {
	text-align: right;
	margin-top: 4px;
}

.printEmail a:hover {
	background:none;
}

.publication {
	width: 100%;
	margin-bottom: 24px;
	font-family: Helvetica,Arial,Sans-serif;
}

.publicationTitle {
	padding-bottom: 13px;
}

.publicationTitle a {
	color:#000;
	text-decoration:underline;
}

.publicationTitle a:visited {
	color:#a00b10;
	text-decoration:underline;
}

.publicationTitle a:hover {
	color:#ed1c24;
	text-decoration:underline;
}

.publicationDesc {
	margin-bottom: 14px;
}

.publicationDesc a {
	color: #000;
	
}

.publicationDesc a:hover {
	color:#ed1c24;
	background:none;
}

.publicationDesc a:visited {
    font-size: 13px;
    color:#a00b10;
}

.publicationImage {
	float: left;
	height: 100%;
	padding-right: 13px;
}

.publicationPrice {
	float: left;
	width: 80px;
}

	.publicationPriceInstance {
		padding-bottom: 13px;
	}

.publicationAddBtn {
	clear: all;
	text-align: right;
	height: 100%;
	vertical-align: bottom;
}

.letters {
	margin-bottom: 13px;
}

.picInfoBox {
	margin: 0px 13px 18px 13px;
}

.picInfoBoxImage img {
	margin-right: 13px;
}
	
.detailsBox {
	margin: 0px 13px 23px 13px;
}

.detailsBoxLeft {
	width: 135px;
	float:left;
	padding: 0px 13px;
	clear:none;
}

.detailsBoxDivider {
	height: 200px;
	width: 16px;
	float:left;
	/*border-top: 13px solid #fff;*/
	background-image: url(spie.org/images/global/dotted_line_vert.gif);
	background-repeat: repeat-y;
	clear:none;
	/*border-bottom: 14px solid #fff;*/
}

.detailsBoxRight {
	width: 150px;
	float:left;
	clear:none;
}
.detailsBoxButton {
	clear:none;
	float:left;
}

.articleThumbImg {
	float: left;
	margin-right: 13px;
	margin-bottom: 6px;
}

.pageNavigation {
	clear: all;
	margin-bottom: 24px;
	padding-left: 0px;
}

.pageNavigationDesc {
	margin-left: 94px;
	padding-left: 0px;
}

.clear {
	overflow: hidden;
	clear: both; /*  in order to hide float element  */
	height: 1px;
	/*margin: -1px 0px 0px 0px; Commented out to fix issue where text is hidden by IE in comp. mode*/
	font-size: 1px;
}

.hDottedLine {
	background-image: url(spie.org/images/global/dotted_line_hor.gif);
	background-repeat: repeat-x;
	margin-bottom: 13px;
}

.hDottedLineTight {
	background-image: url(spie.org/images/global/dotted_line_hor.gif);
	background-repeat: repeat-x;
	margin-bottom: 2px;
}

.paginationNav 
{
	text-align:center;
	padding: 7px 0px 5px 0px;
}

.pressVLine {
	background-image: url(spie.org/images/global/dotted_line_vert.gif);
	background-repeat: repeat-y;
}

.pressVLine2 {
	background-image: url(spie.org/images/global/dotted_line_vert.gif);
	background-repeat: repeat-y;
}

.contentVLine {
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	background-image: url(spie.org/images/global/dotted_line_vert.gif);
	background-repeat: repeat-y;
}


.tagline {
	padding: 16px 13px;
	font-size: 13px;
}

.centerPhoto {
	padding-left: 2px;
}

.homePhotoBox {
	width: 920px;
	margin: auto; 
	background-color: #FFF;
}
.homePhotoBox_leftImage {
	float:left;
}
.homePhotoBox_centerImage {
	float:left;
	padding-left: 4px;
}
.homePhotoBox_2ColumnRowScenario {
	float:left;
	padding-right: 4px;
}
.homePhotoBox_rightImage {
	float:right;
}
.homeFeature {
	padding: 15px 13px 13px 13px;
}
.homeVLine
{
	border-top: 13px solid #fff;
	border-bottom: 15px solid #fff;
	background-image: url(spie.org/images/global/dotted_line_vert.gif);
	background-repeat: repeat-y;
}

.arrowHome {
	margin-top: 2px;
}

.arrowQuicklinks {
	margin-top: 3px;
	margin-right: 6px;
}

.journalTitle {
	padding-bottom: 5px;
}

.homeFeature {
	padding-top: 15px;
	padding-right: 13px;
	padding-left: 13px;
	padding-bottom: 13px;
}
.thumbHome {
	margin-right: 7px;
}

.homeFeatureCopy {
	padding: 13px 0 29px 0;
	line-height: 16px;
}

.homeQuickLinks, .quickLinksList {
	background-color: #EBE9E1;
}

.homeQuickLinks img {
	margin-left: 7px;
	margin-bottom: 7px;
}


.memberLink
{
	margin-top: 6px;
	font-size: 13px;
	line-height: 25px;
}


.memberHeadline
{
	margin-bottom: 2px;
}

.memberHeadlineLink
{
	margin: 13px 0px 13px auto;
	padding-left: 0px;
}


.memberHeadlineLink a
{
	color: #656541;
	text-decoration: underline;
}


.memberHeadlineLink a:hover
{
	color: #94946B;
	text-decoration: underline;
}


.memberItemDesc
{
	padding-top: 13px;
	padding-bottom: 6px;
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 13px;
	color: #666;
}


.memberItemDesc p
{
	margin-top: 6px;
	margin-bottom: 0px;
}


.memberItemHeadline
{
	font-family: Arial;
	color: #333;
	font-weight: bold;
}


.memberUnknownLinks
{
	margin-top: 14px;
	margin-bottom: 6px;
}

.quickLinks {
	width: 196px;
	margin-top: 15px;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 15px;
}

.linksList {
	list-style-type: none;
	margin: 0px 13px;
}
.linksList li {
	margin-bottom: 4px;
}

.quickLinksList {
	margin-bottom: 13px;
}

.quickLinksList td {
	list-style: none;
}

.quickLinksText {
	margin-top: 2px;
	margin-left: 1px;
}

.tblFooter {
	background-color: #fff;
	text-align: center;
	width: 920px;
	margin-top: 0px;
	margin-bottom: 4px;
}
.tblFooterPrint {
	background-color: #fff;
	text-align: center;
	width: 700px;
	margin-top: 0px;
	margin-bottom: 4px;
}
.tblFooterCenter {
	width:700px;
	float:left;
}
.tblFooterInner {
	width:472px;
	float:right;
	text-align:center;
}

.tblFooterRight {
	text-align:left;
	vertical-align: top;
}


.tblHeader {
	text-align: left;
	padding-top: 13px;
	padding-bottom: 4px;
}
.tdHeader {
	padding-right: 13px;
}

.tdHeaderOptipedia {
	padding-right: 30px;
	padding-left: 20px;
}

.tblPrimaryNav {
	margin-left: 13px;
}

.tblRowOdd {
	background-color: #FFFFFF;
}
.tblRowEven {
	background-color: #EEEEEE;
}

.leftNavBox {
	margin-top: 15px;
}

.nav_divider {
	margin-left: 9px;
	margin-right: 9px;
}
.icon_cart {
	margin-right: 9px;
}

.navLinkTitle {
	vertical-align: middle;
}

.signin_divider {
	padding-left: 13px;
	padding-right: 9px;
}

.leftNavInfo {
	background-color: #EBE9E1;
	width: 208px;
	display: table-cell;
	padding-left: 13px;
	padding-top: 13px;
	padding-bottom: 19px;
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	color: #333;
}

.leftNavInfoLink {
	margin-top: 4px;
	padding-left: 8px;
	padding-top: 2px;
	/*background-image: url(spie.org/images/global/leftNavInfobg.gif);*/
	background-repeat: no-repeat;
}

.leftNavInfoLink a, .leftNavInfoLink a:visited {
	color: #333333;
	text-decoration: none;
}

.leftNavInfoLink a:hover {
	color: #666666;
	text-decoration: none;
}


.leftNavInfoLinkSelected {
	margin-top: 4px;
	padding-left: 8px;
	padding-top: 2px;
	background-image: url(spie.org/images/global/leftNavInfobgRedArrow.gif);
	background-repeat: no-repeat;
}

.leftNavInfoLinkSelected a, .leftNavInfoLinkSelected a:visited {
	color: #ed1c24;
	text-decoration: none;
}

.leftNavInfoLinkSelected a:hover {
	color: #666666;
	text-decoration: none;
}



.buttonLeft {
	vertical-align: middle;
	display: table-cell;
	padding-left: 5px;
	width: 188px;
}

.buttonOffplus {
	font-family: Helvetica,Arial;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	color: #000;
	width:  220px;
	height: 35px;
	padding: 0px;
	background: #fff;
	border-bottom: 1px solid #aaa;
}

.buttonOffplus a, .buttonOffplus a:visited {
	color: #333;
	text-decoration: none;
}

.buttonOffplus a:hover {
	color: #666;
	text-decoration: none;
}

.buttonOnminus {
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	color: #333;
	width:  220px;
	height: 35px;
	padding: 0px;
	margin-bottom: 4px;
	/*background: #EBE9E1 url(spie.org/images/global/buttonOnbg-minus.gif);*/
	background: #EBE9E1;
	border-top: 2px solid #EBE9E1;
	border-bottom: 2px solid #EBE9E1;
}

.buttonOnminus a, .buttonOnminus a:visited {
	color: #333;
	text-decoration: none;
}

.buttonOnminus a:hover {
	color: #666;
	text-decoration: none;
}


.buttonOnminusRed {
	font-family: Helvetica,Arial;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	width:  220px;
	height: 35px;
	padding: 0px;
	border-bottom: 1px solid #aaa;
	background: #000;
    background-repeat: no-repeat;
}

.buttonOnminusRed a, .buttonOnminusRed a:visited {
	color: #fff;
	text-decoration: none;
}

.buttonOnminusRed a:hover {
	color: #666;
	text-decoration: none;
}


.buttonRight {
	display: table-cell;
	width: 20px;
}

.buttonSpacer {
	display: table-cell;
	padding-top: 7px;
	padding-bottom: 8px;
}

.subNav
{
	margin-top: 13px;
	margin-bottom: 13px;
}

.subNavTitle
{
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #006699;
	margin-top: 8px;
	margin-bottom: -8px;
	margin-left: 13px;
}

.buttonSubNav {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #666;
	margin-top: 2px;
	padding-left: 13px;
}

.buttonSubNav a, .buttonSubNav a:visited {
	color: #333;
	text-decoration: none;
}

.buttonSubNav a:hover {
	color: #666;
	text-decoration: none;
}



.buttonSubNavCEon {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #333333;
	background-image: url(spie.org/images/global/buttonSubNavbg.gif);
	background-repeat: no-repeat;
	margin-top: 2px;
	padding-left: 13px;
}

.buttonSubNavCEon a, .buttonsubNavCEon a:visited {
	color: #333333;
	text-decoration: none;
}

.buttonSubNavCEon a:hover {
	color: #666666;
	text-decoration: none;
}

.buttonSubNavCEonRed {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	color: #ed1c24;
	background-image: url(spie.org/images/global/buttonSubNavbgRed.gif);
	background-repeat: no-repeat;
	margin-top: 2px;
	padding-left: 13px;
}

.buttonSubNavCEonRed a, .buttonSubNavCEonRed a:visited {
	color: #ed1c24;
	text-decoration: none;
}

.buttonSubNavCEonRed a:hover {
	color: #666666;
	text-decoration: none;
}







.buttonSubNavonArrowDown {
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
	line-height: 14px;
	color: #333;
	width:  220px;
	height: 35px;
	padding: 0px;
	margin-bottom: 4px;
	background: #EBE9E1 url(spie.org/images/global/buttonSubNavbgArrowDown.gif);
	border-top: 2px solid #EBE9E1;
	border-bottom: 2px solid #EBE9E1;
}

.buttonSubNavonArrowDown a, .buttonSubNavonArrowDown a:visited {
	color: #333;
	text-decoration: none;
}

.buttonSubNavonArrowDown a:hover {
	color: #333;
	text-decoration: none;
}



.buttonSubNavonNoArrow {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #666;
	background-repeat: no-repeat;
	margin-top: 2px;
	padding-left: 13px;
	font-weight: bold;
}

.buttonSubNavonNoArrow a, .buttonSubNavonNoArrow a:visited {
	color: #666;
	text-decoration: none;
}

.buttonSubNavonNoArrow a:hover {
	color: #333;
	text-decoration: none;
}


.buttonSubNavon {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #ed1c24;
	background-image: url(spie.org/images/global/buttonSubNavbgRed.gif);
	background-repeat: no-repeat;
	margin-top: 2px;
	padding-left: 13px;
}

.buttonSubNavon a, .buttonsubNavon a:visited {
	color: #ed1c24;
	text-decoration: none;
}

.buttonSubNavon a:hover {
	color: #ed1c24;
	text-decoration: none;
}

.buttonSubNav2 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #666666;
	margin-top: 2px;
	padding-left: 26px;
}

.buttonSubNav2 a, .buttonSubnav2 a:visited {
	color: #666666;
	text-decoration: none;
}

.buttonSubNav2 a:hover {
	color: #333333;
	text-decoration: none;
}

.buttonSubNav2on {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	line-height: 16px;
	color: #ed1c24;
	background-image: url(spie.org/images/global/buttonSubNav2bgRed.gif);
	background-repeat: no-repeat;
	margin-top: 2px;
	padding-left: 26px;
}

.buttonSubNav2on a {
	color: #ed1c24;
	text-decoration: none;
}

.buttonSubNav2on a:hover {
	color: #ed1c24;
	text-decoration: none;
}

.buttonSubNav2on a:visited {
	color: #ed1c24;
	text-decoration: none;
}

.searchtable {
	margin-left: 13px;
	width: 667px;
}
.searchtable, .searchbox {
	background-color: #EBE9E1;
}
.tdLeftSearch {
	padding-right: 13px;
}
.tdRightSearch {
	padding-right: 13px;
}
.tdNavSearch {
	padding-top: 7px;
	padding-bottom: 7px;
}
.searchbody {
	padding-top: 8px;
	padding-bottom: 4px;
}
.searchTipDescription
{
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	color: #666666;
}
#searchResultsReviseSearchTable {
	margin-bottom:0px;
}
.searchResultsSortByForm {
	background-color: #EEE;
	padding:13px 13px 0px 13px;
	margin: 0px;
}
.searchResultsSortByForm table { 
	background-color: #EEE;
	margin:0px;
}
.searchResultsSortBySubmitBtn {
	padding:13px 32px 13px 0px;
}
.searchReviseSearchNewSearch {
	padding:13px;
}

.registrationPriceTable {
	width: 430px;
	margin-top: 18px;
}
.registrationPriceTable th {
	padding: 2px 4px;
	border-bottom: 1px solid black;
}

.registrationPriceTable td {
	padding: 4px 0px;
}

.registrationPriceTable td.header {
	text-align: center;
}

.registrationPriceTable td.price {
	text-align: center;
}

.registrationPriceTable td.description {
	padding-left: 16px;
}

.vDottedLine {
	background-image: url(spie.org/images/global/dotted_line_vert.gif);
	background-repeat: repeat-y;
}

.btnAddtoCart {
	margin-bottom: 2px;
}

.btnBack {
	margin-left: 15px;
	margin-right: 5px;
}

.btnFwd {
	margin-left: 5px;
}

.btnPrint {
	margin-right: 19px;
}

.btnPrint a:hover {
	background:none;
}
.copyright {
	margin-bottom: 13px;
}

.rightColBanner {
	margin-bottom: 13px;
}

.rightColButton {
	text-align: right;
	margin-top: 6px;
	margin-bottom: 16px;
}

.rightColHorizImage {
	margin-top: 6px;
	margin-bottom: 16px;
}	

.rightColHLine {
	background-image: url(spie.org/images/global/dotted_line_hor.gif);
	margin-top: 14px;
}

.rightColHLine_simple {
	background-image: url(spie.org/images/global/dotted_line_hor.gif);
	margin-top: 13px;
	margin-bottom: 13px;
}

.rightColHLine2 {
	background-image: url(spie.org/images/global/dotted_line_hor.gif);
}

.rightColIcon {
	margin-left: 3px;
}


.rightColSubNav1 {
	font-family: Arial;
	font-size: 13px;
	color: #666633;
	font-weight: bold;
	line-height: 13px;
	margin-bottom: 6px;
	margin-left: 13px;
}

.rightColSubNav2 {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	color: #003399;
	line-height: 13px;
	margin-bottom: 6px;
	margin-left: 13px;
}

.rightColSubNav2 a {
	color: #003399;
	text-decoration: underline;
}
.rightColSubNav2 a:visited {
	color: #993399;
	text-decoration: underline;
}
.rightColSubNav2 a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.rightColSubNav2on {
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	color: #666633;
	font-weight: bold;
	line-height: 13px;
	margin-bottom: 6px;
	margin-left: 4px;
	background-image: url(spie.org/images/global/info_arrow_lg_tan.gif);
	background-repeat: no-repeat;
	padding-left: 9px;
}

.rightColSubNav2on a {
	color: #003399;
	text-decoration: underline;
}
.rightColSubNav2on a:visited {
	color: #993399;
	text-decoration: underline;
}
.rightColSubNav2on a:hover {
	color: #CC0000;
	text-decoration: underline;
}

.rightColSubNavBG {
	background-color: #EBE9E1;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
}

.arrowRed {
	margin-right: 5px;
}

.arrowLinkList td
{
	padding-top: 4px;
}
.alertMessagingHighlight
{	
	margin:13px 5px 0px 5px;
	color: #ff0000;
}
.freeAccessHighlight
{
	color: #ff0000;
	font-weight: bold;
}
.newPublicationHighlight
{
	color: #E99A02;
	font-weight: bold;
}
.HideAbstract 
{
	display:none;
}
.ShowAbstract 
{
	display:block;
}
/* Table styles used by freeform content in dhtml fields */
.listTable table {
	width: 450px;
}
.listTable table td{
	padding: 6px 15px;
}

.listTable tr.rowHead td {
	font-weight: bold;
}

.listTable table td.col1 {
	width: 50%;
}

.listTable table td.col2, .listTable table td.col3{
	text-align: center;
}

.listTable tr.rowHead {
	background-color: #ECE9E2;
}

.listTable tr.rowEven {
	background-color: #F7F6F2;
}

table.articleTable {
	margin-bottom: 0px;
	border: 0px;
	width: 100%;
}

.articleTable p {
	margin-bottom: 0px;
}

.ad {
	margin-bottom: 13px;
}

sup,
sub {
	height: 13px;
	line-height: 16px;
	vertical-align: baseline;
	position: relative;
	
}

sup {
	bottom: .7ex;
}

sub {
	top: .5ex;
}
	
a.footerlink
{
	font-size: 13px;
}

a.footerlink:visited
{
	font-size: 13px;
}

.footerdivider
{
	padding: 0 6px 0 6px;
	font-size: 13px;
}

.searchtext
{
	width: 350px;
	border: 1px solid #777;
	padding: 3px 4px 3px 4px;
	color: #777;
	font-size: 13px;
	height: 20px;
}

#calendar {
	font-family:helvetica,arial,san-serif;
	font-size: 12px;
	color: #000;
}

#calendar td {
	font-size: 12px;
}

#calendar .title
{
	color: #444;
	font-weight: bold;
	font-size: 12px;
	font-style: normal;
}
	
#calendar .header
{
	font-weight: bold;
	font-size: 13px;
	padding: 5px 10px 5px 14px;
	border-width: 0 0 1px 0;
	border-color: #999;
	border-style: solid;
}

#calendar .filter
{
	color: #000;
	font-weight: bold;
	font-size: 11px;
	/*background: #e4f3f8;*/
	text-transform: uppercase;
	padding: 7px 5px 3px 0;
	border-width: 0 0 1px 0;
	border-color: #999;
	border-style: solid;
}

#calendar .logo
{
	padding: 15px 0 0 14px;
	vertical-align: top;
	background: #fff;
	width: 120px;
}

#calendar .column
{
	padding: 15px 0 15px 14px;
	vertical-align: top;
	color: #000;
	font-weight: normal;
	background: #fff;
}

#calendar .subeventheader
{
	vertical-align: top;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	padding: 10px 0 4px 0;
}

#calendar .subevent
{
	vertical-align: top;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 10px;
	background: #fff;
}

#calendar a
{
	 color: #000;
	 font-size: 12px;
}

#calendar a:hover
{
	 text-decoration: underline;
	 background:none;
	 color:#ed1c24;
}

#confdetail a 
{
	color: #000;
	font-size: 12px;
}

#confdetail a:hover 
{
	color:#ed1c24;
	background:none;
}

#coursedetail a 
{
	color: #000;
	font-size: 12px;
	text-decoration: underline;
}

#coursedetail a:hover 
{
	color:#b9282e;
}

#eventcalendar
{
	text-align: left;
}

/* Automated Technology Pages */
.secheader
{
	font-size: 13px;
	color: #333;
	font-family: Helvetica,Arial,Sans-serif;
	font-weight: bold;
	padding-top: 13px;
	margin-top: 13px;
}

.oddrow
{
	font-size: 13px;
	padding-bottom: 18px;
	background-color: #f6f6f6;
	padding: 7px 7px 7px 7px;
	margin: 7px 0 7px 0;
}

.evenrow
{
	font-size: 13px;
	padding-bottom: 18px;
	background-color: #fff;
	padding: 5px 5px 5px 5px;
	margin: 5px 0 5px 0;
	
}
.titlelink
{
	font-size: 14px;
	line-height: 18px;
}
a.alllink
{
	padding-top: 7px;
	color: #000;
	text-decoration: underline;
	font-size: 13px;
	font-family: helvetica,arial,san-serif;
	float: right;
}
a.alllink:hover
{
	text-decoration: underline;
}
a.alllink:visited
{
	color: #a00b10;
}
a.smlink
{
	color: #000;
	text-decoration: none;
	font-size: 13px;
	font-family: helvetica,arial,san-serif;
}
a.smlink:hover
{
	text-decoration: underline;
}
a.link
{
	color: #000;
	text-decoration: none;
	font-size: 15px;
	font-family: helvetica,arial,san-serif;
}
a.link:hover
{
	text-decoration: underline;
}


.header
{
	background: #fff;
	font-size: 22px;
	color: #000;
	font-family:helvetica,arial,san-serif;
	font-weight: bold;
	padding: 0 0 7px 0;
	margin: 0;
}


.blogheader
{
	padding: 0;
	margin: 0;
}

.previewThumbnail
{
    width: 150px;
    height: 120px;
    border: 1px solid #ebe9e1;
    text-align: left;
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	color: #003399;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
}

.previewThumbnail a
{
	text-decoration: none;
}

.previewThumbnail a:hover
{
	color: #CC0000;
	cursor: pointer;
}

.activeThumbnail
{
    width: 150px;
    height: 120px;
    border: 1px solid #000000;
    text-align: left;
	font-family: Helvetica,Arial,Sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
}

/*.previewThumbnail a.activeThumbnail
{
	color: #000000;
	cursor: default;
}*/

/*-------------------------------Left column navigation-------------------------------------*/
td#leftnav {
	width:220px;
	margin-top:20px;
	background-image:url('http://spie.org/images/global/leftnavbg.png');
	
}

#leftnav div.container {
	background: #fff;
	width:218px;
	font-weight: normal;
	color:#000;
	font-size:13px;
	font-family:Helvetica,arial,san-serif;
	text-align:left;
	margin:0 1px 0 1px;
}
		
#leftnav ul {
	list-style:none;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}
		
#leftnav li {
	cursor:pointer;
	padding:13px 0 13px 15px;
	border-bottom:solid 1px #aaa;
	display: list-item;
}
		
#leftnav li:hover {
	color:#fff;
	background:#000;
}
		
#leftnav li.optin {
	cursor:pointer;
	padding:8px;
	border-left:6px solid #cd2228;
	font-weight:bold;
	background:#e2e2e2;
	border-bottom:solid 1px #aaa;
}
		
#leftnav a {
	color:#000;
	text-decoration:none;
}
		
#leftnav a:hover {
	text-decoration:underline;
}
		
#leftnav div {
	cursor:pointer;
}
		
#leftnav li.selected {
	color:#fff;
	background:#000;
	background-image:url('http://spie.org/images/global/menu_item_open_white.png');
	background-position:4px center;
    background-repeat:no-repeat;
}
		
#leftnav li.leftsubnav {
	color:#000;
	background:#f2f2f2;
	padding:5px 0 5px 7px;
}
		
#leftnav div.leftsubnav {
	background:#f2f2f2;
	padding:3px 7px;
}
		
#leftnav div.level1 
{
    padding:5px 10px 5px 13px;
	margin-right:7px;
}
		
#leftnav div.level1:hover 
{
    color:#fff;
	background:#000;
}
		
#leftnav div.level1selected 
{
    font-weight:bold;
	background:#000;
	color:#fff;
	padding:5px 0 5px 13px;
	margin:0 7px 0 0;
	background-image:url('http://spie.org/images/global/menu_item_open_white.png');
	background-position:2px center;
    background-repeat:no-repeat;

}
		
#leftnav div.level1open 
{
    font-weight:bold;
	background:#f2f2f2;
	padding:5px 0 5px 10px;
	margin:0 3px 0 0;
	background-image:url('http://spie.org/images/global/menu_item_open.png');
	background-position:left center;
    background-repeat:no-repeat;
}
		
#leftnav div.level1open:hover
{
    color:#fff;
	background:#000;
	background-image:url('http://spie.org/images/global/menu_item_open_white.png');
	background-position:left center;
    background-repeat:no-repeat;
}
		
#leftnav div.level2 
{
    margin:3px 7px 3px 22px;
    padding:5px;
}
		
#leftnav div.level2:hover
{
    background:#000;
    color:#fff;
}
		
#leftnav div.level2selected 
{
    background:#000;
    color:#fff;
    padding:5px;
	margin:2px 7px 2px 22px;
}
		
#leftnav div.level2selected a
{
    padding:3px;
}
		
#leftnav li.infofor:hover {
	cursor:auto;
	color:#000;
	background:#fff;
}
		
#leftnav div.infoitem {
	color:#000;
	margin:2px 7px 2px 13px;
	padding:5px;
}
		
#leftnav div.infoitem:hover {
	cursor:pointer;
	color:#fff;
	background:#000;
}

.pageinationfld {
	border:1px solid #000;
	width:30px;
	font-weight:bold;
	font-size:12px;
	font-family:helvetica,arial,san-serif;
	color:#b9282e;
	text-align:center;
}

.content {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-bottom:30px;
}

.content a {
	color: #000;
	text-decoration: underline;
}
.content a:visited {
	color: #000;
}
.content a:hover {
	color: #B9282E;
	text-decoration: underline;
}

.content a.mailto {
	color: #000;
}
.content a.mailto:visited {
	color: #000;
}
.content a.mailto:hover {
	color: #B9282E;
	text-decoration: none;
}

a.formbutton
{
	background: #000;
	padding: 7px 15px;
	color: #fff;
	font-family: Helvetica, arial,sans-serif;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

a.formbutton:visited
{
	color: #fff;
	text-decoration: none;
}

a.formbutton:hover
{
	color: #fff;
	background: #777;
	text-decoration: none;
}

a.cancel
{
	background: #E99906;
}

a.cancel:hover
{
	background: #C78006;
}

a.checkout
{
	background: #ed1c24;
	font-weight: bold;
}

a.checkout:hover
{
	background: #000;
}

#callbutton {
	padding:0;
}

a.button,#callbutton a.button {
	background:#000;
	color:#fff;
	font-family: helvetica;
	text-decoration:none;
	padding:7px 10px;
	font-size:13px;
	font-weight:bold;
	white-space:nowrap;
}

#callbutton a.button {
}

a.button:hover,#callbutton a.button:hover {
	background:#636466;
	text-decoration:none;
	color:#fff;
}

a.button:visited,#callbutton a.button:visited {
	color:#fff;
}

a.contact {
	background:#cd2228;
	color:#fff;
	font-family: helvetica;
	text-decoration:none;
	padding:7px 10px;
	font-size:13px;
	font-weight:bold;
}

a.contact:hover {
	background:#000;
	text-decoration:none;
	color:#fff;
}

a.contact:visited {
	color:#fff;
}

a.outlinebutton
{
	background: #fff;
	padding: 4px 12px;
	border:5px solid #000;
	color: #000;
	font-family: Helvetica, arial,sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight:bold;
	letter-spacing: 0.1em;
}

a.outlinebutton:visited
{
	color: #fff;
	text-decoration: none;
}

a.outlinebutton:hover
{
	color: #fff;
	background: #000;
	text-decoration: none;
}

.pubtype {
	color:#777;
	text-transform:uppercase;
	font-size:12px;
	margin:0 0;
	font-weight:bold;
}

div.abstractblock {
	 margin:14px 0 14px 0; 
	 border-top: 1px solid #999;  
	 border-bottom: 1px solid #999; 
	 padding-bottom:2px;
     clear:both;
}